name: ODD Collector release

on:
  workflow_dispatch:
    inputs:
      collector-name:
        description: 'Select service to build'
        required: true
        default: 'odd-collector'
        type: choice
        options:
          - odd-collector
          - odd-collector-aws
          - odd-collector-gcp
          - odd-collector-azure

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/${{ inputs.collector-name }}

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Run black as linter
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: ./${{ inputs.collector-name }}
          version: "22.3.0"
  build_and_push:
    runs-on: ubuntu-latest
    name: Build and push docker image to GHCR
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.ORG_TOKEN_GHCR }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Extract only version part of a tag and label without prefix
        id: tag
        run: |
          TAG_FULL="${{ steps.meta.outputs.tags }}"
          TAG_VERSION=$(echo $TAG_FULL | sed 's|.*-||')
          echo "TAG_VERSION=$TAG_VERSION" >> $GITHUB_ENV
          echo ">>>>> tag meta outputs = $TAG_FULL"
          echo ">>>>> tag version = $TAG_VERSION"
          echo ">>>>> label meta outputs: ${{ steps.meta.outputs.labels }}"

#          LABEL_FULL="${{ steps.meta.outputs.labels }}"
#          echo $LABEL_FULL
#          LABEL_VERSION=$(echo $LABEL_FULL | sed 's|.*:||')
#          echo "LABEL_VERSION=$LABEL_VERSION" >> $GITHUB_ENV
#          echo $LABEL_VERSION

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ inputs.collector-name }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.TAG_VERSION }}
          labels: ${{ steps.meta.outputs.labels }}